<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="accumulativeCardRepository" class="ua.com.rd.pizzaservice.repository.card.InMemAccumulativeCardRepository"/>
       <bean id="customerRepository" class="ua.com.rd.pizzaservice.repository.customer.InMemCustomerRepository"/>
       <bean id="orderRepository" class="ua.com.rd.pizzaservice.repository.order.InMemOrderRepository"/>
       <bean id="pizzaRepository" class="ua.com.rd.pizzaservice.repository.pizza.InMemPizzaRepository"/>

       <bean id="accumulativeCardService" class="ua.com.rd.pizzaservice.service.card.AccumulativeCardServiceImpl">
              <constructor-arg ref="accumulativeCardRepository"/>
       </bean>
       <bean id="customerService" class="ua.com.rd.pizzaservice.service.customer.CustomerServiceImpl">
              <constructor-arg index="0" ref="customerRepository"/>
              <constructor-arg index="1" ref="accumulativeCardService"/>
       </bean>
       <bean id="discountProvider" class="ua.com.rd.pizzaservice.service.discount.DiscountProvider">
              <constructor-arg ref="accumulativeCardService"/>
       </bean>
       <bean id="discountService" class="ua.com.rd.pizzaservice.service.discount.DiscountServiceImpl">
              <constructor-arg ref="discountProvider"/>
       </bean>
       <bean id="orderService" class="ua.com.rd.pizzaservice.service.order.SimpleOrderService">
              <constructor-arg index="0" ref="orderRepository"/>
              <constructor-arg index="1" ref="pizzaRepository"/>
       </bean>

</beans>